header{
    background-color: #3d354e;
    padding: 200px 0;
}
header h1, h6{
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
}
.section_1, .section_3, .section_5{
    padding: 120px 0;
    background-color: #f7f6f8;
}
.block_grayscale, .block_white{
    display: flex;
    justify-content:space-between;
    width: 1140px;
    margin: auto;
}
.box_1, .box_2, .box_3, .box_4{
    width: 50%;
    text-align: left;
}
.box_1, .box_4{
    padding: 0 80px 0 0;
}
.section_1 .block_grayscale img{
    width: 100%;
}
.section_2, .section_4{
    padding: 120px 0;
}
.block_text{
    justify-content: space-between;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.box_5{
    width: 900px;
    margin: auto;
}
.section_4 h2, p, .section_5 h2, p{
    text-align: center;
}
.section_5{
    justify-content: space-between;
}
.block_text_one, .block_text_purple{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 360px;
    padding: 20px;
}
.block_text_purple{
    background-color: #3d354e;
    color: rgb(255, 255, 255);
}
footer{
    background-color: #3d354e;
    color: #fff;
    text-emphasis: center;
    padding: 50px 0;
}