.bloc{
    display: flex;
    margin: 40px 0 0 30px;
}
.box1{
    width: 250px;
}
.box2{
    width: 200px;
}
#btn, #btn2{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#btn2{
    margin-top: 10px;
    background-color: #e8533f;
}
#input{
    margin-bottom: 10px;
    font-size: 20px;
    width: 200px;
    height: 30px;
}
.list{
    width: 205px;
    border: 1px solid #332;
}
.list_item{
    font-size: 20px;
    position: relative;
    border-bottom: 1px solid #555;
}
.btn_new{
    font-size: 15px;
    position: absolute;
    right: 0px;
    
}
.done{
    opacity: .3;
}